{% extends "base.html.twig" %}

{% block body %}

    {# NAVBAR #}

    {{ render(controller('App\\Controller\\DashboardController::navbarAction')) }}

    {# NAV BUTTON #}

    {{ render(controller('App\\Controller\\DashboardController::navbtnsAction')) }}

    <div id="dashboard-home-container" class="container-fluid">
        <div id="dashboard-home-row" class="row">
            <div id="dashboard-home-col" class="col-sm-12 h-100 w-100 pl-5 pt-3">
                <div id="dashboard-components-row" class="row">

                    {#{% for type, flash_messages in app.session.flashBag.all %}#}
                        {#{% for flash_message in flash_messages %}#}
                            {#<div class="alert alert-{{ type }}"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>{{ flash_message }}</strong></div>#}
                        {#{% endfor %}#}
                    {#{% endfor %}#}

                    {{ render(controller('App\\Controller\\DashboardController::todosComponentAction')) }}

                    {{ render(controller('App\\Controller\\DashboardController::financialComponentAction')) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}