{% extends "base.html.twig" %}

{% block body %}

    {# NAVBAR #}

    {{ render(controller('App\\Controller\\DashboardController::navbarAction')) }}

    {# NAV BUTTON #}

    {{ render(controller('App\\Controller\\DashboardController::navbtnsAction')) }}

    <div id="dashboard-home-container" class="container-fluid">
        <div id="dashboard-home-row" class="row">
            <div id="dashboard-home-col" class="col-sm-12 h-100 w-100 pl-5 pt-3">
                <div id="dashboard-components-row" class="row">

                    <div id="todoComponent-col" class="col-2">
                        <div class="row">

                            <div id="todoComponent-header" class="col-12 bg-dark">
                            </div>

                            {% for key, todo in todos.entities %}

                                {% if key == todos.count %}
                                <div id="{{ key }}" class="col-12 todoComponent-element border-0 border-bottom-0 bg-secondary">
                                {% else %}
                                <div id="{{ key }}" class="col-12 todoComponent-element bg-secondary">
                                {% endif %}
                                    <div class="row">

                                        <div class="col-2 todoComponent-element-icon todoComponent-element-icon-{{ key }} text-center">
                                            <span><i class="fas fa-angle-right fa-2x mt-1"></i></span>
                                        </div>

                                        <div class="col-10 todoComponent-element-libelle todoComponent-element-libelle-{{ key }}">
                                            <h6 class="p-0 font-weight-bold mt-1">{{ todo.libelle }}</h6>
                                        </div>

                                        <div class="col-10 todoComponent-element-toolsbox todoComponent-element-toolsbox-{{ key }} bg-danger">
                                            <div class="row">
                                                <div class="col-3 text-center bg-dark text-white todoComponent-element-toolsbox-tool toolsbox-{{ key }}-tool1">
                                                    <span><i class="fas fa-angle-left fa-2x mt-1"></i></span>
                                                </div>
                                                <div class="col-3 text-center bg-dark text-white todoComponent-element-toolsbox-tool toolsbox-{{ key }}-tool2">
                                                    <span><i class="fas fa-angle-double-right fa-2x mt-1"></i></span>
                                                </div>
                                                <div class="col-3 text-center bg-dark text-white todoComponent-element-toolsbox-tool toolsbox-{{ key }}-tool3">
                                                    <span><i class="fas fa-check fa-2x mt-1"></i></span>
                                                </div>
                                                <div class="col-3 text-center bg-dark text-white todoComponent-element-toolsbox-tool last toolsbox-{{ key }}-tool4">
                                                    <span><i class="fas fa-times fa-2x mt-1"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 todoComponent-element-desc todoComponent-element-desc-{{ key }}">
                                            <p style="font-size: 12px;">{{ todo.description }}</p>
                                        </div>

                                    </div>
                                </div>

                            {% endfor %}

                            <div id="todoComponent-input" class="col-12 bg-dark">
                                <button id="todoComponent-input-submit-btn" class="btn btn-lg" style="height: 5vh"><i class="fas fa-spinner fa-spin"></i></button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}