<div id="financialComponent-col" class="col-4 offset-5">
    <div class="row">

        <div id="financialComponent-header" class="col-12 bg-dark">
        </div>

        <div id="financialComponent-elements" class="col-12">
            {% for key, account in datas.accounts %}
                <div class="row financialComponent-account bg-light">
                    <div class="col-12 financialComponent-account-header" style="height: 4vh;">
                        <div class="row h-100">
                            <div class="col-12 p-0 bg-secondary" style="display: flex; align-items: center; justify-content: center">
                                <p class="m-0 font-weight-bold" style="color: white"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 financialComponent-element-account-numbers" style="padding-top: 2vh; height: 10vh; border-bottom: 1px solid black;">
                        <div class="row m-0 financialComponent-element-account-numbers-row">
                            <div class="container">
                                <div class="row justify-content-center">
                                    {{ render(controller('App\\Controller\\FinancialController::financialComponentIncomingAction', {'id': account.id})) }}
                                    <div class="col-1"></div>
                                    {{ render(controller('App\\Controller\\FinancialController::financialComponentSpendPercentAction', {'id': account.id})) }}
                                    <div class="col-1"></div>
                                    <div class="col-2 border border-dark" style="height: 6vh; display: flex; align-items: center; justify-content: center">
                                        <p class="m-0 font font-weight-bold">{{ account.balance }}€</p>
                                    </div>
                                    <div class="col-1"></div>
                                    {{ render(controller('App\\Controller\\FinancialController::financialComponentSumPerDayAction', {'id': account.id})) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 financialComponent-account-header" style="height: 4vh;">
                        <div class="row h-100">
                            <div class="col-12 p-0" style="display: flex; align-items: center; justify-content: center">
                                <a href="{{ path('financial_edit', {'id': account.id}) }}" style="color: black !important; font-weight: bold">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>