{% extends "base.html.twig" %}

{% block body %}

    {# NAVBAR #}

    {{ render(controller('App\\Controller\\DashboardController::navbarAction')) }}

    {# NAV BUTTON #}

    {{ render(controller('App\\Controller\\DashboardController::navbtnsAction')) }}

    <div id="dashboard-home-container" class="container-fluid">
        <div id="dashboard-home-row" class="row">
            <div id="dashboard-home-col" class="col-sm-12 h-100 w-100 pl-5 pt-3">
                <div id="dashboard-components-row" class="row">

                    <div id="todoComponent-col" class="col-2">
                        <div class="row">

                            <div id="todoComponent-header" class="col-12 bg-dark">
                            </div>

                            {% for todo in todos %}

                                <div id="{{ todo }}" class="col-12 todoComponent-element bg-secondary">
                                    <div class="row">

                                        <div class="col-2 todoComponent-element-icon todoComponent-element-icon-{{ todo }} text-center">
                                            <span><i class="fas fa-chevron-right fa-2x mt-2"></i></span>
                                        </div>

                                        <div class="col-10 todoComponent-element-libelle todoComponent-element-libelle-{{ todo }}">
                                            <h6 class="p-0 font-weight-bold mt-2"></h6>
                                        </div>

                                        <div class="col-10 todoComponent-element-toolsbox todoComponent-element-toolsbox-{{ todo }} bg-danger">

                                        </div>

                                        <div style="border: none !important;" class="col-12 todoComponent-element-desc todoComponent-element-desc-{{ todo }}">

                                        </div>

                                    </div>
                                </div>

                            {% endfor %}

                            <div id="todoComponent-input" class="col-12 bg-dark">
                            </div>

                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>

{% endblock %}